<%- include("partials/header.ejs") %>
<div class="entire">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Haithm</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post">Post</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://www.instagram.com/27.5.20?igsh=MW00eHh6b2s3azh6bw=="
              ><img src="images/instagram.svg" alt="instagram icon"
            /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/HaithmMasood"
              ><img src="images/twitter-x.svg" alt="twitter-x icon"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="content about">
      <h3><Strong>Welcome to Haithm's Hub!</Strong></h3>
      <p>
        Hey there! I'm Haithm, the creator and writer of this blog. As a student
        of computer science at Concordia University, I've developed a profound
        appreciation for the intricate dance of logic and creativity that is
        coding. This blog is my digital playground, a place where I can share my
        adventures in web development and beyond.
      </p>

      <p>
        When I'm not buried in code or tackling complex algorithms, you can find
        me lost in a good book or spending quality time with my family—two of my
        greatest pleasures in life. These moments of tranquility and connection
        ground me and often spark the reflections you'll find in my posts.
      </p>

      <p>
        Through this blog, I aim to showcase my burgeoning skills in web
        development and document the lessons I learn along the way. From
        innovative tech trends to personal projects, each entry is a piece of my
        journey as I navigate the exciting waters of tech.
      </p>

      <p>
        I invite you to join me on this voyage of discovery and growth. Your
        thoughts, feedback, and stories are always welcome here. So, let’s
        connect! Whether you're here for a glimpse into the life of a computer
        science student, some web development insights, or just a bit of
        heartfelt musings, I'm glad to share this space with you.
      </p>

      <p>
        Drop me a line through the [Contact] page if you'd like to get in touch.
        Whether it's for a potential collaboration or just to exchange ideas,
        I'm all ears.
      </p>

      <p>Happy reading,</p>
      <p>Haithm</p>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
